<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="KubernetesSdk" ToolsVersion="10.0">
  <!-- https://github.com/DotNetAnalyzers/StyleCopAnalyzers/tree/master/documentation -->
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">

    <!-- Do not warn if no documentation is built -->
    <Rule Id="SA0001" Action="None" />

    <!-- Local calls do not need 'this' -->
    <Rule Id="SA1101" Action="None" />

    <!-- Allow properties before constructor -->
    <Rule Id="SA1201" Action="None"/>

    <!-- Require underscore for field prefixes -->
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SX1309" Action="Error" />

    <!-- No braces for single-line statements -->
    <Rule Id="SA1503" Action="None" />

    <!-- Members should be documented -->
    <Rule Id="SA1600" Action="Info"/>
    <Rule Id="SA1633" Action="Info"/>
  </Rules>
</RuleSet>
